drivers/conical_product_2D
drivers/conical_product_3D
drivers/jacobi_rule
drivers/print_gauss
drivers/print_gauss_lobatto
drivers/gm_rule
drivers/tri_rule
drivers/test_dubiner
drivers/compute_residuals_1D
drivers/dubiner_verify
drivers/pyramid_conical_product
drivers/dubiner_verify_jacobi
drivers/dubiner_verify_double
drivers/gatermann
drivers/gatermann_search
drivers/Ro3_deg6
drivers/nlopt_test
lib/
*.a
*.o
*~
Make.common
config.log
config.status
gmp
mpfr
*.d
*.lo
autom4te.cache
libtool
.libs
*.dylib
*.la
gmpfrxx/example
*.so
*.so.*
drivers/lu
plots
TAGS
*.pvsm
voronoi/*.pdf
logs
plot_11010.pdf
plot_00020.pdf
plot_00020_x1.pdf
plot_00020_x1_vs_alpha.pdf
plot_00020_weights_vs_alpha.pdf
plot_00020_x1_vs_alpha_2.pdf
plot_00020_min_root.pdf
plot_00020_min_root_weights_vs_alpha.pdf
plot_00020_outside_alphas.pdf
plot_00020_alpha1_alpha2.pdf
plot_00020_combined.pdf
plot_00020_negative_alphas.pdf
