drivers/conical_product_2D
drivers/conical_product_3D
drivers/jacobi_rule
drivers/print_gauss
drivers/print_gauss_lobatto
drivers/gm_rule
drivers/tri_rule
drivers/test_dubiner
drivers/compute_residuals_1D
drivers/dubiner_verify
drivers/pyramid_conical_product
drivers/dubiner_verify_jacobi
drivers/dubiner_verify_double
drivers/gatermann
lib/
*.a
*.o
*~
Make.common
config.log
config.status
gmp
mpfr
*.d
*.lo
autom4te.cache
libtool
.libs
*.dylib
*.la
gmpfrxx/example
*.so
*.so.*
drivers/lu
plots
